@media (max-width: 575.98px) {
    .thank-you-message {
        width: 70%;
        height: auto;
        color: var(--highlight-typography-color);
        margin: 0 auto;
        margin-top: 15%;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        display: block;
        line-height: 100%;
    }

    .tyspan{
        font-size: 48px;
        display: inline-block;
        margin-bottom: 10%;
    }

    .social_media {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 0 auto;
        margin-top: 5%;
        width: max-content;
    }

}